/*------------------------------------*\
    #MAIN-STATS
\*------------------------------------*/
.main-stats {
    position: relative;
    display: inline-block;
    height: 150px;
    width: 150px;

    .per {
        position: absolute;
        height: 0;
        line-height: 0;
        width: 100%;
        top: 50%;
        font-size: 2em;
        text-align: center;
        color: #000;
        opacity: 0.8;
    }
}