/*------------------------------------*\
    #FRONT-PAGE
\*------------------------------------*/
.front-page {
    height: 100vh;
    max-width: 1140px;
    margin: 0 auto;
    padding: 4vh 3%;
    text-align: center;
}




/*------------------------------------*\
    #HEADER
\*------------------------------------*/
.header {
    height: 30vh;
}




/*------------------------------------*\
    #MAIN
\*------------------------------------*/
.main {
    height: 60vh;
    display: table;
    width: 100%;
}

.main-form {
    display: table-cell;
    vertical-align: middle;
}

.main-form__label {

}

.main-form__input {
    float: left;
    width: 70%;
}

.main-form__button {
    float: right;
    width: 30%;
}

.main-stats {

}




/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
.footer {
    height: 6vh;
}