/*******************************************************************************
VARIABLES
*******************************************************************************/

$primaryColor = #8f3d3d;
$primaryDark = darken($primaryColor, 20%);

$secondaryColor = #00ff00;
$secondaryDark = darken($secondaryColor, 20%);

$thirdColor = #0000ff;
$thirdDark = darken($secondaryColor, 20%);

